/* .App { */
    /* background-image: url("https://w0.peakpx.com/wallpaper/302/833/HD-wallpaper-blue-purple-waves-shapes-gradient-abstract.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
/* } */