.page{
    display: grid;
    place-items: center;
    margin-top: 12rem;
}
.page_info{
    text-align: center;
}
.page_info > h3{
    margin-bottom: 3%;
    text-align: center;
}
.sub{
    display: none;
}
.visible{
    display: block;
}
.inp{
    margin-bottom: 18.9rem;
}
.txt{
    color: rgb(0, 0, 0);
}