.Menu{
    /* background-image: url("https://w0.peakpx.com/wallpaper/302/833/HD-wallpaper-blue-purple-waves-shapes-gradient-abstract.jpg"); */
    height: 100%;
    width: 100%;
    background-color: #1a1a1c;
    margin-top: -1rem !important;
    overflow: hidden;
    display: grid;
    place-items: center;
}  
.Menu > h2{
    margin-top: 60px;
    color: antiquewhite;
}
.inpName{
    margin-top: 55px;
}

.next-btn{
    display: none;
}
.visible{
    display: block;
}